<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dm_error</key>
	<integer>0</integer>
	<key>error_msg</key>
	<string>操作成功</string>
	<key>expire_time</key>
	<integer>5</integer>
	<key>lives</key>
	<array>
		<dict>
			<key>city</key>
			<string>北京市</string>
			<key>creator</key>
			<dict>
				<key>birth</key>
				<string>1989-12-15</string>
				<key>description</key>
				<string>工作联系请私信
**闲置**号：mmnews</string>
				<key>emotion</key>
				<string></string>
				<key>gender</key>
				<integer>0</integer>
				<key>gmutex</key>
				<integer>0</integer>
				<key>hometown</key>
				<string>北京市&amp;朝阳</string>
				<key>id</key>
				<integer>21396684</integer>
				<key>inke_verify</key>
				<integer>1</integer>
				<key>level</key>
				<integer>56</integer>
				<key>location</key>
				<string>北京市</string>
				<key>nick</key>
				<string>牛萌萌</string>
				<key>portrait</key>
				<string>OTkwNjkxNDY3MjE5MzUw.jpg</string>
				<key>profession</key>
				<string>演员</string>
				<key>rank_veri</key>
				<integer>81</integer>
				<key>third_platform</key>
				<string>0</string>
				<key>veri_info</key>
				<string>主演海岩剧《五星大饭店》 饰演女主角汤豆豆</string>
				<key>verified</key>
				<integer>81</integer>
				<key>verified_reason</key>
				<string>主演海岩剧《五星大饭店》 饰演女主角汤豆豆</string>
			</dict>
			<key>group</key>
			<integer>1</integer>
			<key>id</key>
			<string>1467897468654058</string>
			<key>image</key>
			<string></string>
			<key>link</key>
			<integer>0</integer>
			<key>multi</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>online_users</key>
			<integer>15692</integer>
			<key>optimal</key>
			<integer>0</integer>
			<key>pub_stat</key>
			<integer>1</integer>
			<key>room_id</key>
			<integer>411550504</integer>
			<key>rotate</key>
			<integer>0</integer>
			<key>share_addr</key>
			<string>http://live3.a8.com/s/?uid=21396684&amp;liveid=1467897468654058&amp;ctime=1467897468</string>
			<key>slot</key>
			<integer>1</integer>
			<key>status</key>
			<integer>1</integer>
			<key>stream_addr</key>
			<string>http://pull99.a8.com/live/1467897468654058.flv?ikHost=ws&amp;ikOp=1&amp;CodecInfo=8192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>city</key>
			<string>营口市</string>
			<key>creator</key>
			<dict>
				<key>birth</key>
				<string>1992-09-30</string>
				<key>description</key>
				<string>不加vx 只玩微博 谢谢合作</string>
				<key>emotion</key>
				<string>保密</string>
				<key>gender</key>
				<integer>1</integer>
				<key>gmutex</key>
				<integer>1</integer>
				<key>hometown</key>
				<string>辽宁省&amp;营口市</string>
				<key>id</key>
				<integer>16700144</integer>
				<key>inke_verify</key>
				<integer>0</integer>
				<key>level</key>
				<integer>30</integer>
				<key>location</key>
				<string>营口市</string>
				<key>nick</key>
				<string>万晨曦🎯</string>
				<key>portrait</key>
				<string>OTI2NTIxNDY3Mjk3ODY3.jpg</string>
				<key>profession</key>
				<string></string>
				<key>rank_veri</key>
				<integer>5</integer>
				<key>third_platform</key>
				<string>1</string>
				<key>veri_info</key>
				<string>怪蜀黍</string>
				<key>verified</key>
				<integer>0</integer>
				<key>verified_reason</key>
				<string></string>
			</dict>
			<key>group</key>
			<integer>1</integer>
			<key>id</key>
			<string>1467896059203451</string>
			<key>image</key>
			<string></string>
			<key>link</key>
			<integer>0</integer>
			<key>multi</key>
			<integer>0</integer>
			<key>name</key>
			<string>哈哈哈哈哈哈 给你们惊喜</string>
			<key>online_users</key>
			<integer>14013</integer>
			<key>optimal</key>
			<integer>0</integer>
			<key>pub_stat</key>
			<integer>1</integer>
			<key>room_id</key>
			<integer>411366247</integer>
			<key>rotate</key>
			<integer>0</integer>
			<key>share_addr</key>
			<string>http://live7.a8.com/s/?uid=16700144&amp;liveid=1467896059203451&amp;ctime=1467896059</string>
			<key>slot</key>
			<integer>3</integer>
			<key>status</key>
			<integer>1</integer>
			<key>stream_addr</key>
			<string>http://pull99.a8.com/live/1467896059203451.flv?ikHost=ws&amp;ikOp=1&amp;CodecInfo=8192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>city</key>
			<string>南京市</string>
			<key>creator</key>
			<dict>
				<key>birth</key>
				<string>2012-12-31</string>
				<key>description</key>
				<string>微博:yoyobabyg谢谢关注，陪伴是最长情的告白，感恩</string>
				<key>emotion</key>
				<string>单身</string>
				<key>gender</key>
				<integer>0</integer>
				<key>gmutex</key>
				<integer>0</integer>
				<key>hometown</key>
				<string>浙江省&amp;杭州市</string>
				<key>id</key>
				<integer>35368587</integer>
				<key>inke_verify</key>
				<integer>1</integer>
				<key>level</key>
				<integer>40</integer>
				<key>location</key>
				<string>南京市</string>
				<key>nick</key>
				<string>yoyo??????</string>
				<key>portrait</key>
				<string>ODg3MTExNDY3NDcwOTA5.jpg</string>
				<key>profession</key>
				<string></string>
				<key>rank_veri</key>
				<integer>81</integer>
				<key>third_platform</key>
				<string>0</string>
				<key>veri_info</key>
				<string>视频达人</string>
				<key>verified</key>
				<integer>81</integer>
				<key>verified_reason</key>
				<string>视频达人</string>
			</dict>
			<key>group</key>
			<integer>1</integer>
			<key>id</key>
			<string>1467897405388551</string>
			<key>image</key>
			<string></string>
			<key>link</key>
			<integer>0</integer>
			<key>multi</key>
			<integer>0</integer>
			<key>name</key>
			<string>我卡的看不到吗？55555</string>
			<key>online_users</key>
			<integer>13935</integer>
			<key>optimal</key>
			<integer>0</integer>
			<key>pub_stat</key>
			<integer>1</integer>
			<key>room_id</key>
			<integer>411542284</integer>
			<key>rotate</key>
			<integer>0</integer>
			<key>share_addr</key>
			<string>http://live2.a8.com/s/?uid=35368587&amp;liveid=1467897405388551&amp;ctime=1467897405</string>
			<key>slot</key>
			<integer>4</integer>
			<key>status</key>
			<integer>1</integer>
			<key>stream_addr</key>
			<string>http://pull99.a8.com/live/1467897405388551.flv?ikHost=ws&amp;ikOp=1&amp;CodecInfo=8192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>city</key>
			<string>青岛市</string>
			<key>creator</key>
			<dict>
				<key>birth</key>
				<string>1990-07-08</string>
				<key>description</key>
				<string>唱歌.跳舞.全能艺人主播！你开心就是我的快乐！真诚</string>
				<key>emotion</key>
				<string>单身</string>
				<key>gender</key>
				<integer>1</integer>
				<key>gmutex</key>
				<integer>0</integer>
				<key>hometown</key>
				<string>山东省&amp;青岛市</string>
				<key>id</key>
				<integer>2314372</integer>
				<key>inke_verify</key>
				<integer>1</integer>
				<key>level</key>
				<integer>28</integer>
				<key>location</key>
				<string>青岛市</string>
				<key>nick</key>
				<string>顺子💥Awaken</string>
				<key>portrait</key>
				<string>NzQ5NjMxNDY3ODg3NTAx.jpg</string>
				<key>profession</key>
				<string>全能艺人</string>
				<key>rank_veri</key>
				<integer>81</integer>
				<key>third_platform</key>
				<string>1</string>
				<key>veri_info</key>
				<string>第一季《我是大明星》总决赛亚军</string>
				<key>verified</key>
				<integer>81</integer>
				<key>verified_reason</key>
				<string>第一季《我是大明星》总决赛亚军</string>
			</dict>
			<key>group</key>
			<integer>1</integer>
			<key>id</key>
			<string>1467897348452058</string>
			<key>image</key>
			<string></string>
			<key>link</key>
			<integer>0</integer>
			<key>multi</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>online_users</key>
			<integer>14371</integer>
			<key>optimal</key>
			<integer>0</integer>
			<key>pub_stat</key>
			<integer>1</integer>
			<key>room_id</key>
			<integer>411534742</integer>
			<key>rotate</key>
			<integer>0</integer>
			<key>share_addr</key>
			<string>http://live2.a8.com/s/?uid=2314372&amp;liveid=1467897348452058&amp;ctime=1467897348</string>
			<key>slot</key>
			<integer>5</integer>
			<key>status</key>
			<integer>1</integer>
			<key>stream_addr</key>
			<string>http://pull99.a8.com/live/1467897348452058.flv?ikHost=ws&amp;ikOp=1&amp;CodecInfo=8192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>city</key>
			<string></string>
			<key>creator</key>
			<dict>
				<key>birth</key>
				<string></string>
				<key>description</key>
				<string>无远弗届，不辱绘事。—绘麟社
公粽号：huilinshe</string>
				<key>emotion</key>
				<string></string>
				<key>gender</key>
				<integer>0</integer>
				<key>gmutex</key>
				<integer>0</integer>
				<key>hometown</key>
				<string></string>
				<key>id</key>
				<integer>63238119</integer>
				<key>inke_verify</key>
				<integer>1</integer>
				<key>level</key>
				<integer>4</integer>
				<key>location</key>
				<string></string>
				<key>nick</key>
				<string>林Caroline</string>
				<key>portrait</key>
				<string>NzQxMzUxNDY0Nzg0MTEw.jpg</string>
				<key>profession</key>
				<string>绘者</string>
				<key>rank_veri</key>
				<integer>81</integer>
				<key>third_platform</key>
				<string>0</string>
				<key>veri_info</key>
				<string>画家</string>
				<key>verified</key>
				<integer>81</integer>
				<key>verified_reason</key>
				<string>画家</string>
			</dict>
			<key>group</key>
			<integer>1</integer>
			<key>id</key>
			<string>1467896523316114</string>
			<key>image</key>
			<string></string>
			<key>link</key>
			<integer>0</integer>
			<key>multi</key>
			<integer>0</integer>
			<key>name</key>
			<string>小暑小暑小暑！</string>
			<key>online_users</key>
			<integer>3364</integer>
			<key>optimal</key>
			<integer>0</integer>
			<key>pub_stat</key>
			<integer>1</integer>
			<key>room_id</key>
			<integer>411427024</integer>
			<key>rotate</key>
			<integer>0</integer>
			<key>share_addr</key>
			<string>http://live6.a8.com/s/?uid=63238119&amp;liveid=1467896523316114&amp;ctime=1467896523</string>
			<key>slot</key>
			<integer>4</integer>
			<key>status</key>
			<integer>1</integer>
			<key>stream_addr</key>
			<string>http://pull99.a8.com/live/1467896523316114.flv?ikHost=ws&amp;ikOp=1&amp;CodecInfo=8192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
